body {
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 15rem
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.1em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.current { color: green; }

home body {
    background-image: url("../img/prof_pic.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: center left; /* Le fond sera placé en haut à droite */
    background-color: black;
    color: white;
    opacity: 0.3;
    background-color: rgb(255,0,0); /* Pour les navigateurs anciens */
    background-color: rgba(255,0,0,0.5); /* Pour les navigateurs plus récents */
}

.blurb {}


.container {
  margin-left: 16rem;
  max-width: $max-content-width;
  height:auto;
  min-height: 400px;
}


.leftcol {
    margin-left: 2rem;
    width:180px;
    height:100%;
    float:left;
 }

 .leftcol img{
   margin-left: 10px;
  }
